hr {
    margin: 0;
    color: var(--rodape);
}
.rodape {
    background: var(--branco);
    padding: 1em;
}

.lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px) { 
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 24px;
        font-weight: 400;
    }

    .lista__rodape {
        display: block;
    }

    .lista__rodape__titulo {
        color: var(--rodape);
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }
    
    .lista__rodape__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    .lista__rodape__link {
        font-size: 14px;
        margin-left: 0.6em;
        text-decoration: none;
        color: var(--rodape-color);
    }
}


@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3em 0;
    }
    .lista__rodape {
        border-left: 1px solid var(--rodape);
        padding-left: 1em;
    }
}