.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;  
    font-weight: 700;
    font-size: 14px;
}


@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }
    .topicos__lista {
        gap: 13px;
    }
    .topicos__link {
        font-size: 24px;
    }

    .topicos__link:hover {
        color: var(--laranja);
        background: var(--branco);
    }
}


@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}
